body{
    background-color: black;
}

.page-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 80%;
    margin: auto;
}

.header{
    margin-bottom: 4em;
    min-height: 250px;
}

.header-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-between;
    top: 80px;
}

.nav{
    display: flex;
    font-weight: normal;
    color: aliceblue;
    font-size: 2em;
}

.nav-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-weight: normal;
    color: aliceblue;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    text-transform: uppercase;
}

.text-link:hover{
    box-shadow: inset 900px 0 0 0 grey;
    color: rgb(15, 8, 47);
    size: 1em;
}

.project a{

}

.project-image:hover{
    /* box-shadow: inset 500px 0px 0px 0px rgb(214, 222, 222); */
    filter: drop-shadow(5px 5px 10px grey);
}

.zach-about{
    color: rgba(240, 248, 255, 0.668);
    position: relative;
    font-size: 4em;
    height: fit-content;
    text-transform: uppercase;
}

.footer{
    margin-bottom: 1em;
    min-height: 100px;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.project-container{
    display: flex;
    flex-direction: row;
    color: rgba(240, 248, 255, 0.668);
}

.project{
    display: flex;
    flex-direction: column;
    max-width: 10em;
    margin-right: 5em;
    margin-bottom: 5em;
    text-transform: uppercase;
}

.project-image{
    margin: auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.project-title{
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.project-description{
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    text-align: center;
}