body{
    background-color: black;
}

.page-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 80%;
    margin: auto;
}

.header{
    margin-bottom: 4em;
    min-height: 250px;
}

.header-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-between;
    top: 80px;
}

.nav{
    display: flex;
    font-weight: normal;
    color: aliceblue;
    font-size: 2em;
}

.nav-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-weight: normal;
    color: aliceblue;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out
}

a:hover{
    box-shadow: inset 500px 0 0 0 grey;
    color: aqua;
    size: 1em;
}

.zach-about{
    color: rgba(240, 248, 255, 0.668);
    position: relative;
    font-size: 4em;
    height: fit-content;
}

.footer{
    margin-bottom: 1em;
    min-height: 100px;
}

.contact-info{
    display: flex;
    flex-direction: column;
}